In [84]:
import pandas as pd
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [126]:
path = r"C:\Users\User\Google Drive\EW-MOD\Term paper\Model_Attempt1_Jasper"
csv_mapping = pd.read_csv(path+"\id_to_country.csv", delimiter=";")
csv_data = pd.read_csv(path+"\inflows.csv").drop("timestep", axis=1).drop("utc_timestamp", axis=1)
csv_mapping = csv_mapping.rename(columns={"Unnamed: 0":"id"})
mapping_dict ={}
for y in list(csv_mapping["zone"].unique()):
    splice = csv_mapping[csv_mapping["zone"]==y]
    mapping_dict[y] = intersection(list(splice["id"]), list(csv_data.columns))

for typ in csv_mapping["plant_type"].unique():
    sum_country = pd.DataFrame()
    splice = csv_mapping[csv_mapping["plant_type"]==typ]
    for z in mapping_dict.keys():
        sum_country[z] = csv_data.loc[:,intersection(list(mapping_dict[z]),list(splice["id"]))].sum(axis=1)
        sum_country.to_csv(path_or_buf=path+"/"+typ+"_inflow_countries.csv")

In [124]:
intersection(list(mapping_dict["CH"]),list(splice["id"]))
csv_mapping

         id zone plant_type
0        H1   CH  hydro_res
1       H10   IT  hydro_psp
2      H100   IT  hydro_psp
3     H1000   IT  hydro_res
4     H1001   IT  hydro_psp
...     ...  ...        ...
1652  N1039   NO  hydro_res
1653  N1046   NO  hydro_res
1654  N1049   NO  hydro_res
1655  N1053   NO  hydro_res
1656  N1054   NO  hydro_res

[1657 rows x 3 columns]